[defaults]
inventory = inventory/hosts.ini 
host_key_checking = False
private_key_file = ~/.ssh/ansible-key
remote_user = ec2-user
timeout = 30

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -oUserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no
pipelining = True
