module.exports = {
  apps: [{
    name: "{{ app_name }}",
    script: "index.js",
    instances: 1,
    autorestart: true,
    watch: false,
    max_memory_restart: "1G",
    env: {
      NODE_ENV: "production",
      PORT: "{{ app_port }}"
    },
    error_file: "/var/log/{{ app_name }}-err.log",
    out_file: "/var/log/{{ app_name }}-out.log",
    log_file: "/var/log/{{ app_name }}-combined.log",
    time: true
  }]
}
